@charset "UTF-8";

body {
	background-color: rgba(255, 100, 0, 0.2);
	font-family: Times, "Times New Roman", serif;
}

.current-page {
	font-weight: bold !important;
}

.current-page nav,
.current-page li {
	font-weight: normal;
}

.current-ancestor {
	font-style: italic !important;
}

.current-ancestor nav,
.current-ancestor li {
	font-style: normal;
}